/*
 * Copyright (c) 2023 Huawei Device Co., Ltd.
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

[Arch]
BUILD.gn     luodonghui@huawei.com
bundle.json  luodonghui@huawei.com
Cargo.toml   luodonghui@huawei.com
config.gni   luodonghui@huawei.com

[Misc]
figures/        luodonghui@huawei.com
.gitignore      luodonghui@huawei.com
CODEOWNERS      luodonghui@huawei.com
README.md       luodonghui@huawei.com
README_zh.md    luodonghui@huawei.com

[All]
*   luodonghui@huawei.com

[JsApi]
interfaces/kits/js/         luodonghui@huawei.com
ipc/native/src/napi/        luodonghui@huawei.com
ipc/native/src/napi_common/ luodonghui@huawei.com

[InnerApi]
interfaces/innerkits/   luodonghui@huawei.com






